[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gevent = "*"
m3u8 = "*"
requests = "*"
django = "*"
celery = "*"
gunicorn = "*"
psycopg2-binary = "*"
bs4 = "*"
lxml = "*"

[requires]
python_version = "3.7"
